{{!-- Profile page --}}

{{!-- <a href="/recommendations" class="btn btn-dark">Recommendations</a>
<a href="/connections" class="btn btn-dark">Connections</a>
<form action="/logout" method="POST">
<button type="submit">Log Out</button> --}}
<h1>Profile</h1>

{{#if loggedInUser}}
<h3>Welcome, {{user.username}}! </h3>
<p>Age: {{user.age}}</p>
<p>Discord: {{user.discord}}</p>
<p>Location: {{user.location}}</p>

{{#if axiosGames}}
<p>Favorite games:</p>
  {{#each axiosGames}}
    <p><a href=`/recommendations/search/{{id}}`>{{name}}</a></p>
  {{/each}}
{{/if}}

{{#if user.gamesWant}}
<p>Favorite games:</p>
  {{#each user.gamesWant}}
    <p><a href=`/recommendations/search/{{id}}`>{{name}}</a></p>
  {{/each}}
{{/if}}

<p>Friends: </p>
{{#each user.followings}}
  <p>{{username}}</p>
  <form action="/connections/delete/{{_id}}" method="post">
    <button type="submit">Delete</button>
  </form>
{{/each}}

{{else}}
  <p>You need to be logged in 2</p>
{{/if}}
