{{!-- Profile page --}}

{{!-- <a href="/recommendations" class="btn btn-dark">Recommendations</a>
<a href="/connections" class="btn btn-dark">Connections</a>
<form action="/logout" method="POST">
<button type="submit">Log Out</button> --}}
<h1 class="h1class">Profile:</h1>

<div class="divUserInformation">
  <h3>Welcome, {{user.username}}! </h3>
  <p>User Information:</p>
  <p>-Age: {{user.age}}</p>
  <p>-Discord: {{user.discord}}</p>
  <p>-Location: {{user.location}}</p>
</div>

<div class="favoriteGamesFriendsDiv">
<div class="divFavoriteGames">
<p class="favP">Favorite games:</p>
{{#if user.gamesWant}}

  {{#each user.gamesWant}}
  
    <p><a href=`/recommendations/search/{{id}}`>{{name}}</a></p>
    <form action="/profile/delete/mongo/{{_id}}" method="post">
      <button class="deleteBtn" type="submit">Delete</button>
    </form>
  {{/each}}

{{/if}}

{{#if axiosGames}}
  {{#each axiosGames}}
    <p><a href=`/recommendations/search/{{id}}`>{{name}}</a></p>
    <form action="/profile/delete/{{id}}" method="post">
      <button class="deleteBtn" type="submit">Delete</button>
    </form>
  {{/each}}
{{/if}}
</div>

<div class="divFollowing">
{{#if user.followings}}
<h1>Following:</h1>
{{#each user.followings}}
  <p>Username: {{username}} <br> -Discord: {{discord}}</p>
  <form action="/connections/delete/{{_id}}" method="post">
    <button class="deleteBtn" type="submit">Delete</button>
  </form>
{{/each}}
{{else}}
{{!-- <p>You have no friends yet</p> --}}
{{/if}}
</div>
</div>

