{{!-- Profile page --}}

{{!-- <a href="/recommendations" class="btn btn-dark">Recommendations</a>
<a href="/connections" class="btn btn-dark">Connections</a>
<form action="/logout" method="POST">
<button type="submit">Log Out</button> --}}
<h1>Profile</h1>

{{#if loggedInUser}}
<h3>Welcome, {{user.username}}! </h3>
  <p>Age: {{user.age}}</p>
  <p>Discord: {{user.discord}}</p>
  <p>Location: {{user.location}}</p>
  <div>
    <p>Games that you want to play: </p>
    [{{user.gamesWant}}]
      <p></p>
  </div>
  <p>Friends: </p>
  {{#each user.followings}}
  <p>{{username}}</p>
  <form action="/connections/delete/{{_id}}" method="post">
    <button type="submit">Delete</button>
  </form>
  {{/each}}

{{else}}
 <p>You need to be logged in 2</p>
{{/if}}
