<h1>Search for games</h1>
 
{{#if loggedInUser}}

<div class="form-container">
              <form class="form" method="get" action="/recommendations">
                  <label for="search">Name:</label>
                  <input id="search" name="game" type="text" class="input" placeholder="search..."/>
                  <label for="search">Minimum players:</label>
                  <input id="search" name="minPlayer" type="number" class="input" placeholder="search..."/>
                  <label for="search">Maximum players:</label>
                  <input id="search" name="maxPlayer" type="number" class="input" placeholder="search..."/>
                  <label for="searchNumber">Max results:</label>
                  <input id="searchNumber" name="searchNumber" value="10" type="number"/>
                  <button id="search" class="search-results">search</button>
              </form>
</div>
{{!--     <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
 --}}
{{#if gameDetail}}

<div class="boxes-games">
 {{#each gameDetail}}
<div class="box-game">
<h3>{{name}}</h3>
  <p>Players: {{min_players}} to {{max_players}}</p>
  <p>Minimum recommended age: {{min_age}}</p>
  <p>Average playtime: {{min_playtime}} to {{max_playtime}} minutes</p>
{{!--   <p>Complexity: (({{average_learning_complexity}}+{{average_strategy_complexity}})/2) / 5</p> --}}
  <p><a href="{{rules_url}}">Link to rules summary</a></p>
  <img class="box-art" src="{{thumb_url}}" alt="Box art">
  <p>Unique id: {{id}}</p>
  <p>Description:  {{description_preview}}</p>

<form action="/recommendation/add-wanted/{{id}}" method="POST" >

  <button type="submit">Add game to list</button>
</form>

  </div>
  {{/each}}
  </div>
{{/if}}

{{else}}

  <p>You need to be logged in</p>

{{/if}}


