    <h1>Search for games</h1>

<div class="form-container">
              <form class="form" method="get" action="/recommendations">
                  <input id="search" name="game" type="text" class="input" placeholder="search..."/>
                  <button id="search" class="search-results">search</button>
                  <button id="clear" class="clear-results">clear</button>
              </form>

</div>

 
    <div>
      <input id="game-name-input" type="text" />
      <button id="get-game-btn">Find Game</button>
    </div>
 
    <h2 id="game-name"></h2>
    <p id="game-minplayer"></p>
    <p id="game-minage"></p>
    <p id="game-playtime"></p>
    <div>
      <img id="game-box" src="" height="200px" />
    </div>
    <p id="game-rules"></p>
    <p id="game-description"></p>
 
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

{{#if gameDetail}}
{{!--  document.getElementById('game-name').innerText = `Name: ${gameDetail[0].name}`;
      document.getElementById('game-minplayer').innerText = `Min/Max players: ${gameDetail[0].min_players}/${gameDetail[0].max_players}`;
      document.getElementById('game-minage').innerText = `Min age: ${gameDetail[0].min_age}`;
      document.getElementById('game-playtime').innerText = `Playtime: ${gameDetail[0].min_playtime}/${gameDetail[0].max_playtime} minutes`;
      document.getElementById('game-box').setAttribute('src', gameDetail[0].thumb_url);
      document.getElementById('game-rules').innerText = `Rules: ${gameDetail[0].rules_url}`;
      document.getElementById('game-description').innerText = gameDetail[0].description;
 --}}
<div class="box-game">
<h3>{{gameDetail.name}}</h3>
  <p>Players: {{gameDetail.min_players}} to {{gameDetail.max_players}}</p>
  <p>Minimum recommended age: {{gameDetail.min_age}}</p>
  <p>Average playtime: {{gameDetail.min_playtime}} to {{gameDetail.max_playtime}} minutes</p>
  <p><a href="{{gameDetail.rules_url}}">Link to rules summary</a></p>
  <img class="box-art" src="{{gameDetail.thumb_url}}" alt="Box art">
  <p>Description:</p>
  {{gameDetail.description}}
  </div>
{{else}}
 <p>You need to be logged in 2</p>
{{/if}}


{{#if user}}



{{else}}

  <p>You need to be logged in</p>

{{/if}}