<h1>Find games to play</h1>
 

<h2>Search public and app databases</h2>
<div class="form-container">
              <form class="form" method="get" action="/recommendations">
                  <label for="name">Name:</label>
                  <input id="name" name="game" type="text" class="input" placeholder="search..."/>
                  <label for="minPlay">Minimum players:</label>
                  <input id="minPlay" name="minPlayer" type="number" class="input" placeholder="search..."/>
                  <label for="maxPlay">Maximum players:</label>
                  <input id="maxPlay" name="maxPlayer" type="number" class="input" placeholder="search..."/>
                  <label for="minAge">Minimum age:</label>
                  <input id="minAge" name="minAge" type="number" class="input" placeholder="search..."/>
                  <label for="maxPlayTime">Maximum playtime:</label>
                  <input id="maxPlayTime" name="maxPlay" type="number" class="input" placeholder="search..."/>
                  <label for="searchNumber">Max results:</label>
                  <select id="searchNumber" name="searchNumber">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                  <button id="search" class="search-results">search</button>
              </form>
              <form class="form" method="post" action="/recommendations/random">
              <button id="search" class="search-results">Random game!</button>
              </form>
</div>

<p></p>
<h2>Create a new game</h2>
<div class="form-container">
              <form class="form" method="post" action="/recommendations/add-game">
                  <label for="name">Name:</label>
                  <input id="name" name="name" type="text" class="input" placeholder="required" required/>
                  <label for="minPlayer">Minimum players:</label>
                  <input id="minPlayer" name="minPlayer" type="number" class="input" placeholder="required" required/>
                  <label for="maxPlayer">Maximum players:</label>
                  <input id="maxPlayer" name="maxPlayer" type="number" class="input" placeholder="required" required/>
                  <label for="minAge">Minimum age:</label>
                  <input id="minAge" name="minAge" type="number" class="input" placeholder="required" required/>
                  <label for="maxPlay">Maximum playtime:</label>
                  <input id="maxPlay" name="maxPlay" type="number" class="input" placeholder="max playtime"/>
                  <label for="thumb_url">Box art:</label>
                  <input id="thumb_url" name="thumb_url" type="text" class="input" placeholder="image URL here"/>
                  <label for="description">Description:</label>
                  <input id="description" name="description" type="text" class="input" placeholder="Brief description of the game"/>
                  <label for="rulesUrl">Link to rules:</label>
                  <input id="rulesUrl" name="rulesUrl" type="text" class="input" placeholder="link to rules"/>
                  <button id="search" class="search-results">Create game</button>
              </form>
</div>

<div class="boxes-games">
{{#if mongoGames}}

    {{#each mongoGames}}
      <div class="box-game">
        <h3>{{name}}</h3>
        <p>Players: {{minPlayer}} to {{maxPlayer}}</p>
        <p>Minimum recommended age: {{minAge}}</p>
        <p>Average playtime: Up to {{maxPlay}} minutes</p>
          {{#if rulesUrl}}
            <p><a href="{{rulesUrl}}">Link to rules summary</a></p>
          {{/if}}
        <img class="box-art" src="{{thumb_url}}" alt="Box art">
        <p>Unique id: {{id}}</p>
        <div style="overflow: auto scroll; max-height:20vh;">
          <p>{{description}}</p>
        </div>

        <form action="/recommendation/add-wanted/{{id}}" method="POST" >
          <button type="submit">Add game to list</button>
        </form>
         <form action="/recommendations/delete/{{id}}" method="POST" >
         <button type="submit">Delete game</button>
         </form> 
      </div>
    
    {{/each}}
{{/if}}

{{#if axiosGames}}
  {{#each axiosGames}}
    <div class="box-game">
      <h3>{{name}}</h3>
      <p>Players: {{min_players}} to {{max_players}}</p>
      <p>Minimum recommended age: {{min_age}}</p>
      <p>Average playtime: {{min_playtime}} to {{max_playtime}} minutes</p>
      {{#if rules_url}}
        <p><a href="{{rules_url}}">Link to rules summary</a></p>
      {{/if}}
      <img class="box-art" src="{{thumb_url}}" alt="Box art">
      <p><a href="{{url}}">Buy this game</a></p>
      <p>Unique id: {{id}}</p>
      <div style="overflow: auto scroll; max-height:20vh;">
        <p>{{{description}}}</p>
      </div>

      <form action="/recommendation/add-wanted/{{id}}" method="POST" >
      <button type="submit">Add game to list</button>
      </form>
      
    </div>
  {{/each}}
{{/if}}
</div>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}
