    <h1>Search for games</h1>



 
{{#if loggedInUser}}

<div class="form-container">
              <form class="form" method="get" action="/recommendations">
                  <input id="search" name="game" type="text" class="input" placeholder="search..."/>
                  <button id="search" class="search-results">search</button>
              </form>

</div>
{{!--     <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
 --}}
{{#if gameDetail}}
{{!--  document.getElementById('game-name').innerText = `Name: ${gameDetail[0].name}`;
      document.getElementById('game-minplayer').innerText = `Min/Max players: ${gameDetail[0].min_players}/${gameDetail[0].max_players}`;
      document.getElementById('game-minage').innerText = `Min age: ${gameDetail[0].min_age}`;
      document.getElementById('game-playtime').innerText = `Playtime: ${gameDetail[0].min_playtime}/${gameDetail[0].max_playtime} minutes`;
      document.getElementById('game-box').setAttribute('src', gameDetail[0].thumb_url);
      document.getElementById('game-rules').innerText = `Rules: ${gameDetail[0].rules_url}`;
      document.getElementById('game-description').innerText = gameDetail[0].description;
 --}}
<div class="boxes-games">
 {{#each gameDetail}}
<div class="box-game">
<h3>{{name}}</h3>
  <p>Players: {{min_players}} to {{max_players}}</p>
  <p>Minimum recommended age: {{min_age}}</p>
  <p>Average playtime: {{min_playtime}} to {{max_playtime}} minutes</p>
  <p><a href="{{rules_url}}">Link to rules summary</a></p>
  <img class="box-art" src="{{thumb_url}}" alt="Box art">
  <p>Description:</p>
  {{description}}
  </div>
  {{/each}}
  </div>
{{/if}}

{{else}}

  <p>You need to be logged in</p>

{{/if}}


