<h1>Search for games</h1>
 
{{#if loggedInUser}}

<div class="form-container">
              <form class="form" method="get" action="/recommendations">
                  <label for="name">Name:</label>
                  <input id="name" name="game" type="text" class="input" placeholder="search..."/>
                  <label for="minPlay">Minimum players:</label>
                  <input id="minPlay" name="minPlayer" type="number" class="input" placeholder="search..."/>
                  <label for="maxPlay">Maximum players:</label>
                  <input id="maxPlay" name="maxPlayer" type="number" class="input" placeholder="search..."/>
                  <label for="minAge">Minimum age:</label>
                  <input id="minAge" name="minAge" type="number" class="input" placeholder="search..."/>
                  <label for="maxPlayTime">Maximum playtime:</label>
                  <input id="maxPlayTime" name="maxPlay" type="number" class="input" placeholder="search..."/>
                  <label for="searchNumber">Max results:</label>
                  <select id="searchNumber" name="searchNumber">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                  <button id="search" class="search-results">search</button>
              </form>
              <form class="form" method="post" action="/recommendations/random">
              <button id="search" class="search-results">Random game!</button>
              </form>
</div>
{{!--     <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
 --}}
{{#if gameDetail}}

<div class="boxes-games">
 {{#each gameDetail}}
<div class="box-game">
<h3>{{name}}</h3>
  <p>Players: {{min_players}} to {{max_players}}</p>
  <p>Minimum recommended age: {{min_age}}</p>
  <p>Average playtime: {{min_playtime}} to {{max_playtime}} minutes</p>
{{!--   <p>Complexity: (({{average_learning_complexity}}+{{average_strategy_complexity}})/2) / 5</p> --}}
  {{#if rules_url}}
  <p><a href="{{rules_url}}">Link to rules summary</a></p>
  {{/if}}
  <img class="box-art" src="{{thumb_url}}" alt="Box art">
  <p><a href="{{url}}">Buy this game</a></p>
  <p>Unique id: {{id}}</p>
  <div style="overflow: auto scroll; max-height:20vh;">
  <p>{{description_preview}}</p>
  </div>


<form action="/recommendation/add-wanted/{{id}}" method="POST" >

  <button type="submit">Add game to list</button>
</form>

  </div>
  {{/each}}
  </div>
{{/if}}

{{else}}

  <p>You need to be logged in</p>

{{/if}}


